@import "tailwindcss";

@theme {
  --color-void:    #0A0A0F;
  --color-deep:    #111118;
  --color-raised:  #1A1A26;
  --color-hover:   #242433;

  --color-brand:   #FF3B3B;
  --color-rose:    #C8365A;

  --color-violet:  #7B6CFF;
  --color-gold:    #E8B84B;
  --color-teal:    #3ECFAA;

  --color-primary: #E8E6E0;
  --color-muted:   #555560;
}

@layer base {
  body {
    @apply bg-void text-primary;
  }
}